.mydiv{
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.div{
    display: flex;
    justify-content: left;
    float:left;  
}
.show{
    display: flex;
     float: right;
        width:50%; 
        height:50%
}
.input{
    height: 10vh;
    width: 15vw;
    border-radius: 1rem;
    outline: none;
    
}
.btn2{
  width: 70%;
  height: 25%;
  padding: 2%;
  margin: center;
  border-radius: 1rem;
  background-color:#F06E10;
  outline-style: none;

}