.mydiv{
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.div{
    display: flex;
    justify-content: left;
    float:left;  
}
.show{
    display: flex;
     float: right;
        width:50%; 
        height:50%
}
.input{
    height: 10vh;
    width: 15vw;
    border-radius: 1rem;
    outline: none;
    
}
.btn2{
  width: 70%;
  height: 25%;
  padding: 2%;
  margin: center;
  border-radius: 1rem;
  background-color:#F06E10;
  outline-style: none;

}
.btn3{
    border-radius: 5rem;
    margin-top: 0.5rem;
    font-size: 100%;
    background-color:  #A87E1A;
    outline: none;
    color: white;
}
.btn3:hover{
    cursor: pointer;
}
.btn4{
    width: 20vw;
    height: 5vh;
    margin-top: 2rem;
    margin-left: 8rem;
    background-color:  #A87E1A;
    border-radius: 2rem;
    outline: none;
}
